:root {
  --primary-color: rgb(80, 43, 212);
  --secondary-color: #937dff;
  /*cor que o copilot recomendou #7A5FFF */
  --highlight-color: #ff6f61;
  --neutral-light: #f5f5f5;
  --neutral-dark: #252525;
  --backgroud-blur: #c3c1cf;
  --gradient1-color: #512bd4;
  --gradient2-color: #9b68df;
}

p {
  margin: 0;
  text-indent: 3ch;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  align-items: center;
  justify-items: center;
  display: flex;
  filter: drop-shadow(0px 0px 15px var(--neutral-dark));
}

header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px var(--neutral-light));
}

header h1 {
  display: inline;
  margin: 0 20px;
  align-content: flex-start;
  font-family: "Bebas Neue", sans-serif;
  filter: drop-shadow(0px 0px 5px var(--neutral-dark));
}

nav {
  padding: 10px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

nav ul li {
  padding: 10px;
  background-color: var(--highlight-color);
  border-radius: 5px;
  filter: drop-shadow(0px 0px 5px var(--neutral-dark));
  /* Espaçamento entre os itens do menu */
}

nav ul li a {
  text-decoration: none;
  /* Remove o sublinhado */
  color: inherit;
  padding: 10px;
  /* Usa a cor do texto do pai */
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.redes {
  z-index: 1;
  height: 335px;
  width: 100px;
  filter: drop-shadow(0px 0px 18px var(--neutral-dark));
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.redes ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: var(--primary-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.redes li {
  list-style: none;
  margin: 10px;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.redes img {
  width: 40px;
  height: 40px;
}

.inicio {
  padding-top: 20px;
  height: 80vh;
  display: flex;
  background-color: var(--backgroud-blur);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.aviso {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  flex-direction: column;
  border-radius: 30px;
  margin: 110px 90px 100px 10px;
  padding: 20px;
  filter: drop-shadow(0px 0px 10px var(--neutral-dark));
}

.aviso::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/car.jpg");
  border-radius: 30px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.aviso span {
  color: white;
  font-size: 90px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  z-index: 1;
  filter: drop-shadow(5px 10px 1px var(--neutral-dark));
}

.aviso button {
  padding: 10px;
  background-color: var(--highlight-color);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  height: 70px;
  width: 140px;
  font-family: "Oswald", sans-serif;
  margin-top: 50px;
  filter: drop-shadow(0px 0px 5px var(--neutral-dark));
}

.sobre {
  display: flex;
  height: 60vh;
  background-color: var(--backgroud-blur);
  padding: 20px;
}

.sobre_escrita {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin: 100px 20px 100px 350px;
  padding: 20px;
  filter: drop-shadow(0px 0px 10px var(--neutral-dark));
}

.escrita {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  height: 100%;
  padding-left: 20px;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: white;
  background-color: var(--neutral-dark);
  border-top-right-radius: 20px;
  border-end-end-radius: 20px;
}

.sobre_escrita img {
  height: 100%;
  border-end-start-radius: 20px;
  border-top-left-radius: 20px;
}

.conteudo {
  display: flex;
  align-items: center;
  background-color: var(--backgroud-blur);
  flex-direction: column;
  padding: 20px;
}

.trabalhos {
  display: flex;
  width: 80vh;
  background-color: var(--primary-color);
  padding: 20px;
  flex-direction: column;
  font-family: "Exo", sans-serif;
  border-radius: 20px;
  color: var(--neutral-light);
  filter: drop-shadow(0px 0px 10px var(--neutral-dark));
}

.trabalho {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-light);
  padding: 20px;
  font-family: "Exo", sans-serif;
  color: var(--neutral-dark);
  border-radius: 20px;
  margin: 10px;
}

.trabalho img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  margin-right: 20px;
}

.trabalho_descricao {
  font-size: 20px;
  font-family: "Exo", sans-serif;
  display: flex;
  flex-direction: column;
}

.trabalho_descricao p {
  margin: 0;
  color: var(--neutral-dark);
}

.contato {
  display: flex;
  background-color: var(--backgroud-blur);
  padding: 20px;
}

.informacoes {
  display: flex;
  background-color: var(--primary-color);
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  font-family: "Exo", sans-serif;
  color: var(--neutral-light);
  filter: drop-shadow(0px 0px 10px var(--neutral-dark));
}

.icones_informacoes a {
  text-decoration: none;
  color: var(--neutral-light);
}

.icones_informacoes img {
  width: 40px;
  height: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 40vh;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 20px;
  margin: 20px 20px 20px 200px;
  /*Ordem margin top, right, bottom e left*/
  font-family: "Exo", sans-serif;
  color: white;
  filter: drop-shadow(0px 0px 10px var(--neutral-dark));
}

form input,
textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

form .botao {
  background-color: var(--highlight-color);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  height: 50px;
  width: 120px;
  font-family: "Exo", sans-serif;
  margin: 10px;
  filter: drop-shadow(0px 0px 5px var(--neutral-dark));
}
