<!DOCTYPE html>
<html lang="Pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../estilo/estilo2.css" />
  </head>
  <body>
    <header>
      <nav>
        <img src="../img/profile2.jpg" alt="logo" />
        <h2>Portfólio</h2>
      </nav>
      <menu>
        <ul>
          <li><a href="../index.html">INICIO</a></li>
          <li><a href="../pages/sobre.html">SOBRE</a></li>
          <li><a href="../pages/trabalhos.html">TRABALHOS</a></li>
          <li><a href="../pages/contato.html">CONTATO</a></li>
        </ul>
      </menu>
    </header>
    <script src="../script/script.js"></script>
  </body>
</html>
